
/*--------------------------*/
/*  CUSTOM CSS
/*--------------------------*/

footer{
    position:fixed;
    bottom:0;
    background:var(--gray);
    display: flex;
    justify-content:center;
    align-items:center;
    padding:0.5rem;
    width:100%;
    z-index:9999;
    box-shadow : var(--shadow-4);
    transform: translateY(0%);
    transition: var(--transition-1);
}

footer :is(strong, small){
    color: var(--black);
}

footer p{
    text-align: center;
}

footer.fade{
    transform: translateY(100%);
    transition: var(--transition-1);
}