/* ------------------------
    - Header CSS
--------------------------*/
#header{
   /* background-image: linear-gradient(to bottom,var(--first-color),black); */
   background: var(--black);

   padding: 0.2rem;
}

#header :is(h1,a) {
    color: white;
}

#header .navbar a {
    color: silver;
    font-weight: 100;
}

#header .navbar a:is(:hover,:focus) {
    color: white;
    font-weight: 900;
    transform: translateX(20%);
    transition: .1s ease;
}

#header .logo {
    font-family: monospace;
}
#header .logo-title {
   font-size:2.8rem;
}

#header .navbar {
    font-family: monospace
}

#header .navbar ul{
    gap:3rem;
}

#navbar{
    display: none;
}