/* ----------------------
    - Sidebar CSS
--------------------------*/


.collapsible.active{
    transform: translateX(0%) !important;
}

.collapsible{
    transform: translateX(-100%) !important;
}

.collapsible{
    position: absolute;
    left: 0;
    top: 0 !important;
    background: var(--black);
    color: rgb(214, 205, 205);
    box-shadow: var(--shadow-2);
    z-index: 9999;
    transform: translateX(-100%);
    transition: var(--transition-0);
    height: 100vh;
    width: 250px;
    overflow-y: auto;
}

.left-sidebar nav ul li {
    padding-block: 0.5rem;
}

.left-sidebar :is(span,a,i){
    color: rgb(212, 203, 203);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left-sidebar nav a:hover{
    color: white;
    padding-left: 1rem;
    transition: .5s ease-in-out;
}

.left-sidebar .collapsible > :is(div,nav){
    color: white;
    padding:1rem;
}
